src/state-machine/orchestrator.yaml
---
StartAt: 'CheckPagesScrapped'
States:
  CheckPagesScrapped:
    Type: Task
    Resource: ${CheckPagesScrappedArn}
    Next: CheckValueCondition

  CheckValueCondition:
    Type: Choice
    Choices:
      - Variable: '$'
        StringEquals: "scrapped"
        Next: ProcessNewListings
      - Variable: '$'
        StringEquals: "not_scrapped"
        Next: GetPageCount

  ProcessNewListings:
    Type: Task
    Resource: ${ProcessNewListingsArn}
    End: true

  GetPageCount:
    Type: Task
    Resource: ${GetPageCountArn}
    ResultPath: '$.body.pages_count'
    Next: 'ProcessPages'

  ProcessPages:
    Type: Map
    ItemsPath: '$.pages_count'
    MaxConcurrency: 10
    Iterator:
      StartAt: 'PageScrapperLambda'
      States:
        PageScrapperLambda:
          Type: 'Task'
          Resource: ${PageScrapperArn}
          InputPath: '$.iterator.index'
          End: true
    Next: 'SetPagesScrapped'

  SetPagesScrapped:
    Type: Task
    Resource: ${SetPagesScrappedArn}
    End: true
